---
Language: Cpp
BasedOnStyle: Google
Standard: c++23
ColumnLimit: 100
IndentWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: None
PointerAlignment: Left
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
ConstructorInitializerIndentWidth: 4
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<cppstream/'
    Priority: 2
  - Regex: '^<doctest/'
    Priority: 3
  - Regex: '^<[a-z_]+>$'
    Priority: 4
  - Regex: '^<'
    Priority: 5
...
